html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Header */
header {
    width: 100%;
    min-width: 390px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.menu-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    margin-left: 50px;
}

.menu-btn,
.menu-btn-icon {
    width: 50px;
    height: auto;
}

.light-dark-btn {
    margin-right: 50px;
    height: 50px;
    align-self: center;
}

.logo-cont {
    display: flex;

}

/* Main content container */
#main-container {
    display: grid;
    grid-template-columns: 0.5fr 4fr;
    height: 100vh;
}



/* Left Container */
#left-container {
    border-right: 2px solid rgb(0, 0, 0);
    width: 390px;
}

/* Task Filter */
nav {
    margin-top: 25px;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    display: block;
    list-style: none;
}

li img,
li .filters-text {
    display: inline-block;
}

ul li img,
ul li .filters-text {
    vertical-align: middle;
}

.icons {
    width: 25px;
    height: auto;
    margin-right: 5px;
    cursor: pointer;
}

.task-filter {
    margin-left: 25px;
    cursor: pointer;
}

/* Projects */
.add-projects-div,
.add-new-project-form-cont,
.projects-list {
    margin-left: 25px;
}

.add-new-project-form-cont,
.edit-project-form-cont {
    margin-top: 10px;
    margin-bottom: 10px;
}

#projects-header {
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.add-projects-txt,
.list-project-txt,
.projects-list {
    cursor: pointer;
}

.add-projects-div {
    display: flex;
    align-items: center;
}

ul img,
ul .add-projects-txt,
ul .list-project-txt {
    display: inline-block;
    vertical-align: middle;
}

/* Add Projects form */
.add-project-icon {
    grid-area: icon;
}

.enter-project-label {
    grid-area: label;
}

.enter-project-input {
    grid-area: input;
}

.add-project-btn {
    grid-area: addbtn;
    cursor: pointer;
}

.cancel-add-btn {
    grid-area: cancelbtn;
    cursor: pointer;
}

.add-new-project-form-cont {
    margin-right: 25px;
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr 1fr;
    grid-template-areas:
        "icon input input input"
        ". addbtn cancelbtn .";
}

/* Edit project name */
.add-project-icon-edit {
    grid-area: iconedit;
}

.enter-project-label-edit {
    grid-area: labeledit;
}

.enter-project-input-edit {
    grid-area: inputedit;
}

.addbtn-edit-mode {
    grid-area: addbtnedit;
    cursor: pointer;
}

.cancelbtn-edit-mode {
    grid-area: cancelbtnedit;
    cursor: pointer;
}

.edit-project-form-cont {
    margin-right: 25px;
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr 1fr;
    grid-template-areas:
        "iconedit inputedit inputedit inputedit"
        ". addbtnedit cancelbtnedit .";
}


.projects-buttons {
    width: 75px;
    margin-top: 10px;
}

.list-project-txt {
    width: 300px;
}

.error-message {
    color: rgb(255, 0, 0);
    font-weight: bold;
    margin: 15px 15px 15px 25px;
}

.new-project-li {
    position: relative;
}

/* Projects and task list popup menu */
.project-popup-menu,
.task-popup-menu {
    position: absolute;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-top: 8px;
    border-radius: 10px;
    max-width: 60px;
}

.project-popup-menu {
    top: -62px;
    right: -35px;
}

.task-popup-menu {
    top: -40px;
    right: -32px;
}

.popup-menu-edit,
.popup-menu-delete {
    cursor: pointer;
    margin: 0px 8px 8px;
    pointer-events: all;
}


/* Right Container */
#right-container {
    display: flex;
    flex-direction: column;
    margin: 20px 30px;
}

.project-title-cont {
    border: 2.5px solid rgb(0, 0, 0);
    border-radius: 4px;
    font-size: xxx-large;
    padding: 25px 20px;
    margin-bottom: 40px;
}

.open-add-task-btn-cont {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 100px;
}

.add-task-btn {
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    color: inherit;
    font: inherit;
    text-align: inherit;
}

.enter-task-input {
    grid-area: task;
    margin-bottom: 15px;
    font-size: 15px;
    padding: 5px;
}

.enter-notes-input {
    grid-area: notes;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 5px;
}

.enter-date-input {
    grid-area: date;
    margin-bottom: 15px;
}

.form-add-task-btn {
    grid-area: add;
}

.form-cancel-add-task-btn {
    grid-area: cancel;
}

.form-task-btns {
    width: 75px;
    margin-top: 10px;
    justify-self: center;
}

.add-task-form-cont {
    border: 2.5px solid rgb(0, 0, 0);
    border-radius: 4px;
    padding: 15px 10px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "task task task task"
        "notes notes notes notes"
        "date date date date"
        ". add cancel .";
}

/* li for each new task */
.new-task-li {
    display: grid;
    grid-template-columns: 35px 4fr 100px 35px 35px;
    grid-template-areas:
        "checkbox title due star dots"
        ". notes due star dots";
    border-bottom: 1px solid rgb(0, 0, 0);
    pointer-events: all;
    width: 99%;
    position: relative;
}

/* Individual elements in each li of task */
.task-checkbox {
    grid-area: checkbox;
    place-self: center;
    font-size: small;
    margin-top: 10px;
}

.task-text,
.task-text-completed {
    grid-area: title;
    font-size: large;
    margin: 10px 0px 7px;
}

.task-text-completed {
    text-decoration: line-through;
    color: rgb(168, 168, 168);
}

.task-notes,
.task-notes-completed {
    grid-area: notes;
    place-self: start;
    margin: 0px 0px 7px;
    color: rgb(65, 65, 65);
}

.task-notes-completed {
    text-decoration: line-through;
    color: rgb(168, 168, 168);
}

.task-due-date {
    grid-area: due;
    place-self: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 6px;
    padding: 5px;
}

.task-star,
.task-star-important {
    grid-area: star;
    place-self: center right;
    width: 25px;
    height: auto;
    margin-right: 5px;
    cursor: pointer;
}

.task-menu {
    grid-area: dots;
    place-self: center left;
}

/* Edit task error message */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-task-error-cont {
    border: 2.5px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 25px 20px;
    margin-bottom: 40px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 300px;
    position: relative;
}

.task-error-header {
    margin: 12px 0;
}

.task-error-message {
    margin-bottom: 7px;
}

.close-icon {
    width: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}